apiVersion: apps/v1
kind: Deployment
metadata:
  name: picky
spec:
  selector:
    matchLabels:
      app: picky
  template:
    metadata:
      labels:
        app: picky
    spec:
      containers:
      - name: picky
        image: localhost:5000/tqsrec-picky:latest
        imagePullPolicy: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "1"
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: picky-svc
spec:
  selector:
    app: picky
  ports:
  - port: 3000
    targetPort: 3000

